#collections {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 55px 20px 0;
}

#collections input {
    position: absolute;
    left: 50vw;
    top: -40px;
    transform: translate(-50%, 0);
    border: 2px solid black;
    height: 30px;
    padding: 5px;
}

.collection {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 5px;
    text-decoration: none;
    color: black;
}