.bloc-figurine {
    position: relative;
    z-index: 0;
    margin: 15px 0;
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 5px;
}

.bloc-figurine:hover {
    box-shadow: 0 0 5px 1px black;
}

#figurines {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.figurine {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;
    grid-template-areas:
        "image"
        "name";
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    z-index: 1;
    overflow: hidden;
}

.figurineName {
    grid-area: name;
    height: 100%;
    width: 100%;
    border-top: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-hex);
    padding: 5px;
    overflow: hidden;
    transition: height .5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.figurineName span {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.figurineName:hover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 165%;
    width: 100%;
}

.figurineName:hover span {
    white-space: normal;
}

.figurineImage {
    grid-area: image;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
}

.figurineImage img {
    padding: 7px;
    height: 100%;
    z-index: -1;
}

.addFigurine {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 3px solid;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 0;
    right: 0;
    z-index: 5;
}

.addWish {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 3px solid;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 0;
    left: 0;
    z-index: 5;
}
.addWish.checked {
    background-color: aqua;
}

.addFigurine,
.figurine,
.figurineName {
    transition: all .2s ease-in-out;
}

.addFigurine.checked {
    background-color: var(--primary-color-hex);
    border: 3px solid var(--primary-color-hex);
}

.addFigurine.checked~.figurine {
    border: 3px solid var(--primary-color-hex);
    box-shadow: 0 0 5px 3px var(--primary-color-hex);
}

.addFigurine.checked~.figurineName {
    border-top: 2px solid var(--primary-color-hex);
}
