#dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
    height: auto;
    text-align: center;
}

#bloc-recentlyAdded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
    height: auto;
    text-align: center;
}

#recentlyAdded {
    border-bottom: 2px solid;
    width: 100%;
    padding: 5px;
}

#little-figurines {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 10px;
    font-size: 0.9rem;
}

.little-figurine {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 1fr;
    grid-template-areas:
    "image"
    "name";
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    min-width: 125px;
    height: 125px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.15s ease-in-out;
}

.little-figurine:hover {
    box-shadow: 0 0 5px 1px black;
}

.little-figurine div {
    grid-area: name;
    height: 100%;
    width: 100%;
    border-top: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-hex);
    padding: 5px;
    overflow: hidden;
    transition: height .5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}


.little-figurine div span {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.little-figurine img {
    margin: auto;
    grid-area: image;
    padding: 7px;
    height: 100%;
    z-index: -1;
    transition: all .3s ease-in-out;
}

#bloc-parcel-tracking {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
    height: auto;
    text-align: center;
    width: 700px;
}

#spanSuiviColis {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addParcel {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    border: none;
    border-left: 2px solid;
    background: var(--primary-color-hex);
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 125px;
}

#refreshParcel {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    border: none;
    border-right: 2px solid;
    background: var(--primary-color-hex);
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 125px;
}

#parcel-tracking {
    border-top: 2px solid;
    width: 100%;
}

#searchFigurineParcel {
    position: fixed;
    height: 500px;
    width: 500px;
    background: var(--primary-color-hex);
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#searchResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
}

.figurine-parcel {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bloc-figurine-parcel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

.bloc-parcel-data {
    position: relative;
    width: 100%;
    height: 125px;
    border: 3px solid;
    border-left: none;
    overflow: hidden;
}

.parcel-data {
    width: 100%;
    height: 125px;
    overflow-y: scroll;
}

.parcel-data>* {
    margin: 8px 0;
}

#closeWindow {
    position: absolute;
    height: 30px;
    width: 30px;
    background: red;
    top: 0;
    left: 0;
    border: none;
    border-bottom: 2px solid;
    border-right: 2px solid;
    cursor: pointer;
    z-index: 100;
}

#loader-parcel {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid black;
    border-top: 10px solid var(--primary-color-hex);
    border-bottom: 10px solid var(--primary-color-hex);
    z-index: 999;
    animation: loader-parcel 5s linear infinite;
}

@keyframes loader-parcel {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.deleteParcel {
    position: absolute;
    height: 25px;
    width: 25px;
    background: red;
    top: 0;
    left: 0;
    cursor: pointer;
}