#figurines-presentation {
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#figurine-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    height: 400px;
}

#boxFigurine {
    width: 50%;
    border-right: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#boxFigurine img {
    width: 400px;
}

#infosFigurine {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-right: 3px solid;
}

#infosFigurine h2 {
    text-align: center;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#infosFigurine span {
    font-size: 1.3rem;
}

#features {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    line-height: 35px;
}

#market {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    height: 50%;
}

#market img {
    height: inherit;
    border-radius: 50%;
}

#market a {
    height: 85px;
}

#bloc-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bloc-price * {
    margin: 0 7px;
}

#bloc-price input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

#bloc-price img {
    width: 30px;
    cursor: pointer;
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
}